main {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main form {
    margin-top: 3rem;
    height: 48rem;
    width: 90%;
}

main form h1{
    display: inline;
    margin: 2.5rem 0 2rem 1rem;
    font-size: 1.5rem;
}

main form img{
    height: 1rem;
    width: 1rem;
}

.main-input-block {
    width: 100%;
    display: block;
}

.main-input-block input{
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-left: 0.5rem;
    width: 100%;
    height: 3rem;
}

.main-input-block label {
    display: block;
    margin-bottom: 0.25rem;
}

.main-input-block label span{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

main form .fields {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

main form button {
    float: right;
    font-size: 1.2rem;
    line-height: 1.2rem;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 2.5rem;
    background-color: var(--text-color);
    color: #FFF;
}

