.main-content {
    width: 100vw;
}

.main-content-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem 1rem 0.5rem;
}

.main-content-header h1 {
    width: 9.25rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 2.5rem; 
}

button.btn-add-Naver {
    width: 11rem;
    height: 2.5rem;

    font-weight: 600;
    font-size: 1rem; 
    line-height: 1.7rem;
    cursor: pointer;

    background-color: var(--text-color);
    color: #FFF;
    border: none;
}


.main-content ul.content-Navers {
    height: 6rem;
    list-style: none;
}

.main-content li.card {
    margin-top: 2rem;
    width: 85%;
    margin: 0 auto;
    height: 23.5rem;
}

.main-content li.card img.Naver-photo {
    cursor: pointer;
    width: 100%;
    height: 17.5rem;
}

.main-content li.card h2 {
    font-weight: 600;
    font-size: 1.5rem; 
    line-height: 1.7rem;
}

.main-content li.card p {
    font-size: 1.2rem; 
    line-height: 1.7rem;
}

img.remove-Naver {
    padding-top: 0.3rem;
    height: 1.5rem;
    width: 1.5rem;
    
}

img.edit-Naver {
    padding-top: 0.3rem;
    height: 1.5rem;
    width: 1.5rem;

}

