/*configuração do geral*/
.modal {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

/*modal com as informações na tela*/
.modal-overview {
    width: 20rem;
    height: 41rem;
    background-color: #FFF;
    display: block;
}

.modal-overview.desactive {
    visibility: hidden;
    opacity: 0;
}

.personal-photo {
    display: flex;
    display: inline-block;
    height: 20rem;
    width: 20rem;
}

.personal-photo img{
    width: 100%;
    height: 100%;
}

.personal-informations {
    width: 100%;
    display: inline-block;
}

.personal-informations h2{
    padding: 1rem 2rem 0.5rem 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.personal-informations h3{
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

.personal-informations p{
    padding: 0rem 2rem 0.5rem 1rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.personal-informations>a {
    float: right;
    height: 1.5rem;
    width: 1.5rem;

    padding: 1.5rem 2rem 1.5rem 0.5rem;
}

.personal-informations .edit-personal {
    display: inline-block;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}

/*mensagem se deseja mesmo excluir o Naver*/
.delete-Naver {
    visibility: hidden;
    opacity: 0;
    width: 90%;
    position: absolute;
    background-color: #FFF;
}

.delete-Naver.active {
    visibility: visible;
    opacity: 1;
}

.delete-Naver h2 {
    padding: 2rem 0 1.5rem 1.5rem;
}

.delete-Naver p {
    padding: 1rem 0 1rem 1.5rem;
}

.delete-Naver button {
    cursor: pointer;
    border: none;
    margin-top: 2rem;
    width: 40%;
    height: 2.5rem;
}

.delete-Naver button.btn-decline-delete {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    background-color: #FFF;
    border: 1px solid var(--text-color);
}

.delete-Naver button.btn-confirm-delete {
    float: right;
    margin-right: 1.5rem;
    background-color: var(--text-color);
    color: #FFF;
}

/*confirm-modal*/
.confirm-modal {
    position: absolute;
    width: 90%;
    height: 10rem;
    background-color: #FFF;
}

.confirm-modal>a {
    display: block;
    
    float: right;
    height: 1.5rem;
    width: 1.5rem;

    padding: 1.5rem 2.5rem 1.5rem 0.5rem;
}

.confirm-modal h2 {
    padding: 1.9rem;
}

.confirm-modal p {
    padding: 0.5rem 1.9rem;
}

.delete {
    visibility: hidden;
    opacity: 0;
}

.create {
    visibility: hidden;
    opacity: 0;
}

.update {
    visibility: hidden;
    opacity: 0;
}
