@media(min-width: 700px) {
    html {
        font-size: 87.5%;
    }

    /*form*/
    .input-block {
        font-size: 1rem; 
    }
    
    .input-block label span {
        width: 100%;
        margin-bottom: 5rem;
    }

    .btn-login span {
        font-size: 0.8rem; 
    }

    /*main*/
    .main-header {
        padding: 2rem 4rem;
    }

    .main-content ul.content-Navers {
        justify-content: space-between;
        display: flex;
        margin: 2rem 4rem;
    }

    .main-content-header {
        padding: 2rem 4rem;
    }

    .main-content li.card {
        width: 20rem;
        height: 23.5rem;
        margin: 0;
    }
    
    .main-content li.card img.Naver-photo  {
        width: 100%;
        height: 17.5rem;
    }
    
    .main-content li.card h2 {
        font-weight: 600;
        font-size: 1.2rem; 
        line-height: 1.7rem;
    }

    /*modal*/
    .modal-overview {
        width: 63rem;
        height: 31rem;
        display: flex;
    }

    .personal-photo {
        height: 31rem;
        width: 31rem;
    }

    .personal-informations {
        width: 31.5rem;
    }

    .personal-informations h2{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    
    .personal-informations h3{
        padding: 0.5rem 2rem 0.5rem 2rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .personal-informations p{
        padding: 0.2rem 2rem 0.5rem 2rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .personal-informations>a {
        float: right;
        height: 1.5rem;
        width: 1.5rem;
    
        padding: 1.5rem 2rem 1.5rem 0.5rem;
    }
    
    .personal-informations .edit-personal {
        display: inline-block;
        padding-top: 8rem;
        padding-bottom: 1.5rem;
        padding-left: 2rem;
    }

    /*confirm-modal*/
    .confirm-modal {
        width: 37rem;
        height: 10rem;
    }

    .delete-Naver {
        width: 37rem;
        height: 14.5rem;
    }

    /*mensagem se deseja msms exclvir o Naver*/
    .delete-Naver h2 {
        padding: 2rem 0 1.5rem 2rem;
    }
    
    .delete-Naver p {
        padding: 1rem 0 1rem 2rem;
    }
    
    .delete-Naver button {
        float: right;
        margin-top: 2rem;
        width: 11rem;
        height: 2.5rem;
    }
    
    .delete-Naver button.btn-decline-delete {
        margin-right: 1.5em;
    }
    
    .delete-Naver button.btn-confirm-delete {
        margin-right: 2rem;
    }

    /*Adicionar vm novo Naver*/
    main form {
        margin-top: 3rem;
        height: 31rem;
        width: 37rem;
    }
    
    main form h1{
        margin: 2.5rem 0 2rem 1rem;
        font-size: 1.5rem;
    }
    
    main form img{
        height: 1rem;
        width: 1rem;
    }
    
    .main-input-block {
        width: 10.8rem;
    }
    
    .main-input-block input{
        width: 17.5rem;
        height: 2.5rem;
    }
    
    .main-input-block input::placeholder{
        font-size: 1rem;
        line-height: 1.5rem;
        padding-left: 0.5rem;
    }
    
    .main-input-block label {
        margin-bottom: 0.25rem;
    }
    
    .main-input-block label span{
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
    
    main form .fields {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    
    main form button {
        font-size: 0.8rem;
        line-height: 1.2rem;
        width: 11rem;
        height: 2.5rem;
    }
    
    
    
}
